.App{
    padding: 3rem;
    border-radius: 1rem;
    background: linear-gradient(
        120deg,
        #3452ff 0%,   
        #3452ff 33.33%,
        #dddddd 33.33%,
        #dddddd 66.66%,
        #eeeeee 66.66%,
        #eeeeee 100%
    );

    /* background: linear-gradient(to right, #1e90ff, grey, #e2e2e2); */
    height: 100%;
    width: 100%;
}