
.simplebar-wrapper,
.simplebar-content {
  margin: 0;
  padding: 0;
}
.appear-down {
  animation: slideDown 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;

}
.appear-up {
  animation: slideUp 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;

}

html {
  scroll-padding-top: 70px;
  scroll-behavior: smooth;
  
}

/* Key frames section */
@keyframes gradientIntro {
  from {
    background-position: 100% 0%;
  }
  to {
    background-position: 0% 100%;
  }
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-140px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Slide Up */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(140px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.main {
animation: slideInLeft 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.name-section span{
  color:#3452ff;
}