.App {
  padding: 3rem;
  background: linear-gradient(
    120deg,
    #000000 0%,   
    /* #2e2e2e 33.33%, */
    #acabab 33.33%,
    #dddddd 66.66%,
    /* #eeeeee 66.66%, */
    #eeeeee 100%
  );
  background-size: 200% 200%;
  animation: gradientIntro 1s ease-out forwards;
}

@keyframes gradientIntro {
  from {
    background-position: 100% 0%;
  }
  to {
    background-position: 0% 0%;
  }
}



#about, #experience, #home {
  scroll-margin-top: 70px; /* match NavBar height */
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-140px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Slide Up */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(140px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.appear-down {
  animation: slideDown 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;

}
.appear-up {
  animation: slideUp 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;

}


