body,html {
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.global-img{
  border-radius: 50%;
  height: 170px;
  width: 200px;
}